body {
	padding-top: 35px;
	background-image: url("../images/escheresque_ste.png");
}

.panel-body {
	padding: 3px 2px 2px 2px; 
	line-height: 0;
}

.pill {
    margin-bottom: 10px;
}

.pill > a {
    background: white;
}

.drop-wrapper {
    margin-bottom: 10px;
}

.drop-zone {
    padding: 60px 0px;
    color: #BBB;
    border: 3px dashed #BBB;
    border-radius: 3px;
    font-size: 2em;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
}